/// ------------
/// Variables
/// ------------

$maincolor: black;
$contrastcolor: white;

@mixin white-text-black-bg {
    color: $contrastcolor;
    background-color: $maincolor;
}

@mixin black-text-white-bg {
    color: $maincolor;
    background-color: $contrastcolor;
}


/// ------------
/// Header styling
/// ------------

nav {
    @include white-text-black-bg;
    display: flex;
    justify-content: flex-start;

    a {
        @include white-text-black-bg;
        margin: 10px;
        font-size: large;
    }
}

.header{
    background-color: aqua;
    text-align: center;
}

.main{
   
}

.form{
    text-align: center;
    
}
// .cheese{
//     text-align: center;
// }

.allcheese{
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.App{
    background-color: #ffa600;
}

img{
    width: 20rem;
    height: 20rem;
}

.inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

body{
    background-image: url("https://media.istockphoto.com/id/1170315961/photo/white-plate-wooden-table-tablecloth-rustic-wooden-clean-copy-freepik-table-top-view-wallpaper.jpg?s=612x612&w=0&k=20&c=DHB3nUXj-OpIzWIN__QfyK--thApc9UIH-tDSzEGLWA=");
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
}